include ../templates.jade
doctype html
html(lang="en")
    +_head("Admin Panel")
    body
        #site_strip
            +_header(loggedin, user)
            main
                +_admin()
                section.content
                    h2 Edit Lesson
                    form(action="/admin/lessons/editlesson/#{lesson.name}" method="POST")
                        h3 Title
                        p #{lesson.name}
                        h3 Description
                        textarea(name="description" style="height: 200px;") #{lesson.description}
                        h3 HTML Description
                        textarea(name="html_description" style="height: 200px;") #{lesson.html_description}
                        h3 Image Link
                        input(type="text" name="image_link" value="#{lesson.image_link}")
                        h3 Video Link
                        input(type="text" name="video_link" value="#{lesson.video_link}")
                        h3 Code
                        input(type="text" name="code" value="#{lesson.code}")
                        input(type="submit" value="Update Lesson")
            +_footer()