mixin _head(name)
	head
		meta(charset="UTF-8")
		title= "SIGSAC | " + name
		link(rel="stylesheet" type="text/css" href="/css/site.css")

mixin _header(loggedin, user)
	header
		a(id="logo" href="/")
			img(src="/images/sigsaclogo.png")
	nav
		ul
			li
				a(class="page_link" href="/") Home
			li
				a(class="page_link" href="/lessons") Lessons
			li
				a(class="page_link" href="/challenges") Challenges
			li
				a(class="page_link" href="/resources") Resources
			li
				a(class="page_link" href="/about") About

		if !loggedin
			ul(style="float: right;")
				li
					a(class="page_link" id="signup" href="/login") Login
				li
					span /
				li
					a(class="page_link" id="signup" href="/signup") Sign up
		else
			ul(style="float: right;")
				li(class="menu")
					a(class="page_link" href="#") #{user.handle}
						span(style="font-size: 10px; margin-left: 2px;") &#9660;
					ul
						li
							a(class="page_link" href="/profile") Profile
						li
							a(class="page_link" href="/attendance") Attendance
						if user.position == "Admin"
							li
								a(class="page_link" href="/admin") Admin
						li
							a(class="page_link" href="/logout") Logout


mixin _footer()
	footer
		#footer_images
			a(href="http://www.usma.edu/")
				img(src="/images/usmalogo.png")
			a(href="http://www.sigsac.org/")
				img(src="/images/acm_logo.jpg")

mixin _lessons(lessons)
	#lessons
		each lesson in lessons
			.lesson
				h2(class="lesson_title") #{lesson.name}
				img(class="lesson_thumb" src="#{lesson.link}")
				p(class="lesson_description") #{lesson.description}

mixin _challenges(challenges)
	#challenges
		each challenge in challenges
			.challenge
				h2(class="challenge_title") #{challenge.title}
				p(class="challenge_description") #{challenge.desc}
				each lesson in lessons
					a(href="")
						#{lesson.title}

mixin _admin()
	h1(class="page_title") Admin Panel
	aside(class="sidebar")
		ul
			li
				a(href="/admin/home") Home
			li
				a(href="/admin/lessons") Lessons
			li
				a(href="/admin/challenges") Challenges
			li
				a(href="/admin/resources") Resources
			li
				a(href="/admin/about") About
			li
				a(href="/admin/events") Events
			li
				a(href="/admin/uploadimage") Upload Image
			li
				a(href="/admin/uploadchallenge") Upload Challenge

